$color-gray: #EEE;
$color-gray-2: #EBEBEB;
$color-dark-gray: #222222;
$color-dark-gray-faded: rgba($color-dark-gray, 0.5);

$color-participant: #55ECF1;
$color-akilah: #40DCFB;
$color-robyn: #65FFF6;
$color-timothy: #18E5EA;

$color-gradient-start: #79E2F7;
$color-gradient-end: #1DE5EB;

$text-color: $color-dark-gray;
