$color-white: #FFFFFF;
$color-gray: #EBEBEB;
$color-gray-2: #FEFEFE;
$color-gray-3: #F2F2F2;
$color-dark-gray: #222222;
$color-dark-gray-faded: rgba($color-dark-gray, 0.5);
$color-light-gray: $color-white;

$color-akilah: #E190FF;
$color-robyn: #9091FF;
$color-timothy: #FF8686;

$text-color: $color-dark-gray;
$text-color-light: $color-light-gray;
$body-bg-color: #A3E2F7;
$body-bg-color-light: #A3E2F7;
$body-bg-color-dark: #A3E2F7;

$night-body-bg-color: #081D29;
$night-body-bg-color-light: #333;
$night-body-bg-color-dark: #000;
$night-color-light: #F4F3F3;
$night-color-medium: #878787;
$night-color-dark: #4D4D4D;
