@import 'colors';

%color--akilah {
  color: $color-akilah;
}

%color--robyn {
  color: $color-robyn;
}

%color--timothy {
  color: $color-timothy;
}

%bg-color--akilah {
  background-color: $color-akilah;
}

%bg-color--robyn {
  background-color: $color-robyn;
}

%bg-color--timothy {
  background-color: $color-timothy;
}

%bg-color--faded--akilah {
  background-color: rgba($color-akilah, 0.5);
}

%bg-color--faded--robyn {
  background-color: rgba($color-robyn, 0.5);
}

%bg-color--faded--timothy {
  background-color: rgba($color-timothy, 0.5);
}
